.toolbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;

    label {
        color: #A3A3A3;
        margin-right: 5px;
    }

    .layout-switch {
        svg {
            width: 30px;
            height: 30px;;
        }
    }

    .select-container {
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            border-style: solid;
            border-width: 5px;
            border-color: #000 transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin-top: 2px;
            pointer-events: none;
        }
    }

    select {
        font-size: 30px;
        font-family: 'Teko-Regular';
        border-bottom: 1px solid;
        padding: 0 20px 0 0;
        line-height: 20px;
        height: 30px;
        appearance: none;
    }

    .work {
        margin-right: 30px;
    }
}